apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "kurrier.fullname" . }}-config
  labels:
    {{- include "kurrier.labels" . | nindent 4 }}
data:
  # PostgreSQL configuration
  POSTGRES_HOST: {{ include "kurrier.postgresql.host" . | quote }}
  POSTGRES_PORT: {{ include "kurrier.postgresql.port" . | quote }}
  POSTGRES_DB: {{ include "kurrier.postgresql.database" . | quote }}
  
  # Redis configuration
  REDIS_HOST: {{ include "kurrier.redis.host" . | quote }}
  REDIS_PORT: {{ include "kurrier.redis.port" . | quote }}
  
  # Typesense configuration
  {{- if .Values.typesense.enabled }}
  TYPESENSE_HOST: {{ include "kurrier.typesense.host" . | quote }}
  TYPESENSE_PORT: {{ .Values.typesense.service.port | quote }}
  TYPESENSE_PROTOCOL: "http"
  {{- end }}
  
  # Kurrier configuration
  WEB_URL: {{ .Values.kurrier.webUrl | quote }}
  API_URL: {{ .Values.kurrier.apiUrl | quote }}
  {{- if .Values.kurrier.localTunnelUrl }}
  LOCAL_TUNNEL_URL: {{ .Values.kurrier.localTunnelUrl | quote }}
  {{- end }}
  
  # Supabase services configuration
  {{- if .Values.supabase.enabled }}
  KONG_HTTP_PORT: {{ .Values.supabase.kong.service.httpPort | quote }}
  {{- if .Values.supabase.auth.enabled }}
  AUTH_URL: {{ printf "http://%s:%d" (include "kurrier.auth.serviceName" .) (.Values.supabase.auth.service.port | int) | quote }}
  GOTRUE_URL: {{ printf "http://%s:%d" (include "kurrier.auth.serviceName" .) (.Values.supabase.auth.service.port | int) | quote }}
  {{- end }}
  {{- if .Values.supabase.rest.enabled }}
  REST_URL: {{ printf "http://%s:%d" (include "kurrier.rest.serviceName" .) (.Values.supabase.rest.service.port | int) | quote }}
  {{- end }}
  {{- if .Values.supabase.realtime.enabled }}
  REALTIME_URL: {{ printf "http://%s:%d" (include "kurrier.realtime.serviceName" .) (.Values.supabase.realtime.service.port | int) | quote }}
  {{- end }}
  {{- if .Values.supabase.storage.enabled }}
  STORAGE_URL: {{ printf "http://%s:%d" (include "kurrier.storage.serviceName" .) (.Values.supabase.storage.service.port | int) | quote }}
  {{- end }}
  {{- if .Values.supabase.meta.enabled }}
  META_URL: {{ printf "http://%s:%d" (include "kurrier.meta.serviceName" .) (.Values.supabase.meta.service.port | int) | quote }}
  {{- end }}
  {{- end }}
  
  # DAV configuration
  {{- if and .Values.dav.enabled .Values.dav.radicale.enabled }}
  RADICALE_URL: {{ printf "http://%s:%d" (include "kurrier.radicale.serviceName" .) (.Values.dav.radicale.service.port | int) | quote }}
  {{- end }}
---
{{- if and .Values.supabase.enabled .Values.supabase.kong.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "kurrier.fullname" . }}-kong
  labels:
    {{- include "kurrier.kong.labels" . | nindent 4 }}
data:
  kong.yml: |
    _format_version: "2.1"
    _transform: true
    
    ###
    ### Consumers / Credentials
    ###
    consumers:
      - username: anon
        keyauth_credentials:
          - key: ${SUPABASE_ANON_KEY}
      - username: service_role
        keyauth_credentials:
          - key: ${SUPABASE_SERVICE_KEY}
    
    ###
    ### Access Control List
    ###
    acls:
      - consumer: anon
        group: anon
      - consumer: service_role
        group: admin
    
    ###
    ### API Routes
    ###
    services:
      {{- if .Values.supabase.auth.enabled }}
      ## Auth
      - name: auth-v1-open
        url: http://{{ include "kurrier.auth.serviceName" . }}:{{ .Values.supabase.auth.service.port }}/verify
        routes:
          - name: auth-v1-open
            strip_path: true
            paths:
              - /auth/v1/verify
        plugins:
          - name: cors
      - name: auth-v1-open-callback
        url: http://{{ include "kurrier.auth.serviceName" . }}:{{ .Values.supabase.auth.service.port }}/callback
        routes:
          - name: auth-v1-open-callback
            strip_path: true
            paths:
              - /auth/v1/callback
        plugins:
          - name: cors
      - name: auth-v1-open-authorize
        url: http://{{ include "kurrier.auth.serviceName" . }}:{{ .Values.supabase.auth.service.port }}/authorize
        routes:
          - name: auth-v1-open-authorize
            strip_path: true
            paths:
              - /auth/v1/authorize
        plugins:
          - name: cors
      - name: auth-v1
        _comment: "GoTrue: /auth/v1/* -> http://auth:9999/*"
        url: http://{{ include "kurrier.auth.serviceName" . }}:{{ .Values.supabase.auth.service.port }}/
        routes:
          - name: auth-v1-all
            strip_path: true
            paths:
              - /auth/v1/
        plugins:
          - name: cors
          - name: key-auth
            config:
              hide_credentials: false
          - name: acl
            config:
              hide_groups_header: true
              allow:
                - admin
                - anon
      {{- end }}
      
      {{- if .Values.supabase.rest.enabled }}
      ## REST
      - name: rest-v1
        _comment: "PostgREST: /rest/v1/* -> http://rest:3000/*"
        url: http://{{ include "kurrier.rest.serviceName" . }}:{{ .Values.supabase.rest.service.port }}/
        routes:
          - name: rest-v1-all
            strip_path: true
            paths:
              - /rest/v1/
        plugins:
          - name: cors
          - name: key-auth
            config:
              hide_credentials: false
          - name: acl
            config:
              hide_groups_header: true
              allow:
                - admin
                - anon
      {{- end }}
      
      {{- if .Values.supabase.realtime.enabled }}
      ## Realtime
      - name: realtime-v1-ws
        _comment: "Realtime: /realtime/v1/* -> ws://realtime:4000/socket/*"
        url: http://{{ include "kurrier.realtime.serviceName" . }}:{{ .Values.supabase.realtime.service.port }}/socket
        routes:
          - name: realtime-v1-ws
            strip_path: true
            paths:
              - /realtime/v1/
        plugins:
          - name: cors
          - name: key-auth
            config:
              hide_credentials: false
          - name: acl
            config:
              hide_groups_header: true
              allow:
                - admin
                - anon
      {{- end }}
      
      {{- if .Values.supabase.storage.enabled }}
      ## Storage
      - name: storage-v1
        _comment: "Storage: /storage/v1/* -> http://storage:5000/*"
        url: http://{{ include "kurrier.storage.serviceName" . }}:{{ .Values.supabase.storage.service.port }}/
        routes:
          - name: storage-v1-all
            strip_path: true
            paths:
              - /storage/v1/
        plugins:
          - name: cors
          - name: key-auth
            config:
              hide_credentials: false
          - name: acl
            config:
              hide_groups_header: true
              allow:
                - admin
                - anon
      {{- end }}
      
      {{- if .Values.supabase.meta.enabled }}
      ## Meta
      - name: meta
        _comment: "pg-meta: /pg/* -> http://meta:8080/*"
        url: http://{{ include "kurrier.meta.serviceName" . }}:{{ .Values.supabase.meta.service.port }}/
        routes:
          - name: meta-all
            strip_path: true
            paths:
              - /pg/
        plugins:
          - name: cors
          - name: key-auth
            config:
              hide_credentials: false
          - name: acl
            config:
              hide_groups_header: true
              allow:
                - admin
      {{- end }}
{{- end }}
